@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

body,
html {
	color: #ABB2BF;
	height: 100%;
	font-family: 'Fira Code', monospace;
	font-weight: 400;
	background-color: #282C33;
}

.button {
	color: white;
	border: 1px solid #C778DD;
	padding: 8px 16px;
	background: none;
	font-weight: 500;
}

.wrapper {
	margin: 0 auto;
	padding: 0 10px 0 10px;
	display: flex;
	max-width: 1024px;
	min-height: 100%;
	flex-direction: column;
}

.header {
	display: flex;
	padding: 32px 0 8px 0;
	justify-content: space-between;

}

.header_logo {
	color: white;
	text-decoration: none;
}

.header_site-logo {
	width: 16px;
	height: 16px;
}

.header_links {
	display: flex;
	justify-content: sb;
}

.header_navigation {}

.header_link {
	color: #ABB2BF;
	text-decoration: none;
}

.header_link::before {
	color: #C778DD;
	content: "#";
	display: inline;
}

.header_link:hover {
	color: white;
}

.header_language-button {
	background: none;
	color: #ABB2BF;
	border: none;
}

.header_language-button:hover {
	cursor: pointer;
	color: white;
}

.header_language-button::after {}

.main {
	flex: 1 1 auto;
}

.main-information {
	padding-top: 62px;
}

.main-information_wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 112px;
	justify-content: space-between;
}

.accent {
	color: #C778DD;
}

.main-information {
	padding-bottom: 200px;
}

.main-information_info {
	/*  */
}

.main-information_title {
	font-size: 32px;
	font-weight: 600;
}

.main-information_subtitle {
	display: block;
	font-size: 16px;
}

.main-information_button {
	cursor: pointer;
}

.main-information_image-wrapper {
	position: relative;
}

.main-information_image {
	height: auto;
	max-width: 457px;

}

.main-information_image-wrapper-text {
	bottom: -29px;
	border: 1px solid #ABB2BF;
	padding: 8px 80px 8px 34px;
	position: absolute;
	background-color: #282C33;
}

.main-information_image-wrapper-text span {
	color: white;
}

.main-information_image-wrapper-text::before {
	left: 10px;
	width: 16px;
	height: 16px;
	content: "";
	display: block;
	position: absolute;
	background: #C778DD;
}

.main-information_thesis-wrapper {
	position: relative;
	max-width: 712px;
}

.main-information_thesis-wrapper {
	margin: 0 auto;
	position: relative;
}

.main-information_thesis-wrapper p {
	border: 1px solid white;
	margin: 0 auto;
	padding: 31px;
	font-size: 24px;
	text-align: center;
	box-sizing: border-box;
}

.main-information_thesis {
	position: relative;
	text-align: center;
}

.main-information_thesis-author {
	right: 0px;
	position: absolute;
	max-width: 194px;
	border-top: 0;
}

.projects {
	padding-bottom: 106px;
}

.progects_wrapper {}

.section_title-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 48px;
	justify-content: space-between;
}

.section_title {
	margin: 0;
	position: relative;
	font-size: 32px;
	max-width: 195px;
}

/* ! Обрати внимание на адаптив линии при изменении размера */
/* Либо посмотри, как делать адаптивным псевдоэлемент */
.section_title::after {
	top: 50%;
	left: 210px;
	width: 511px;
	border: 0.5px solid #C778DD;
	height: 1px;
	content: "";
	display: block;
	position: absolute;
}

.progects_link {
	color: white;
	text-align: right;
}

.projects_cards-wrapper {
	gap: 14px;
	display: flex;
	flex-wrap: wrap;
}

.card {
	border: 1px solid #ABB2BF;
	max-width: 330px;
}

.card_image {
	max-width: 100%;
}

.card_image-description {
	gap: 5px;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	list-style: none;
	padding-top: 8px;
	padding-left: 8px;
	border-bottom: 1px solid #ABB2BF;
	padding-bottom: 8px;
}

.card_image-description-item {}

.card_info {
	padding: 16px 0 16px 16px;
	max-width: 100%;
}

.card_mane {
	color: white;
	font-size: 24px;
	margin-top: 0;
	line-height: 31px;
	margin-bottom: 24px;
}

.card_description {
	color: #ABB2BF;
	display: block;
	font-size: 16px;
}

.card_live-button {
	margin-right: 8px;
}

.card_cached-button {
	border: 1px solid #ABB2BF;
}

/* SKILLS */
.section_title__skills::after {
	max-width: 239px;
}

.skills {
	padding-bottom: 112px;
}

.skills_wrapper {
	display: flex;
	align-items: center;
	padding-left: 30px;
	justify-content: space-between;
}

.skills_image {
	max-width: 349px;
	max-height: 282px;
}

.skills_card-wrapper {
	gap: 18px;
	display: grid;
	max-width: 584px;
	/* grid-auto-flow: column; */

	grid-template-columns: 1fr 1fr 1fr;
}

.skill_card {
	border: 1px solid #ABB2BF;
	max-width: 180px;
	box-sizing: border-box;
}

.second-сolumn-card {
	grid-column-start: 2;
	grid-column-end: 3;
}

.third-сolumn-card {
	grid-column-start: 3;
	grid-column-end: 4;
}

.skill_name {
	color: white;
	padding: 8px;
	border-bottom: 1px solid #ABB2BF;
}

.skill_list {
	margin: 0;
	padding: 0 0 8px 8px;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.section_title__about::after {
	max-width: 326px;
}

.about {
	padding-bottom: 112px;
}

.about_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about_info {
	max-width: 515px;
	line-height: 33px;
}

.about_text {
	margin-bottom: 27px;
}

.contacts {
	padding-bottom: 142px;
}

.section_title__contacts {}

.contacts_wrapper {
	display: flex;
	justify-content: space-between;
}

.contacts_text {
	max-width: 505px;
}

.contacts_links {
	border: 1px solid #ABB2BF;
}

.contacts_links-title {
	padding-left: 16px;
}

.contacts_list {
	padding: 16px;
	padding-right: 8px;
	padding-bottom: 0px;
	list-style: none;
	padding-left: 16px;
}

.contacts_list-item {}

/* FOOTER */
.footer {
	max-width: 100%;
	padding: 32px 0 32px 0;
	border-top: 1px solid #ABB2BF;
}

.footer_wrapper {
	display: flex;
	max-width: 1024px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.footer_info {}

.header_logo {}

.footer_email {}

.footer_thesis {}

.footer_media {}

.footer_media-title {
	font-size: 24px;
	color: white;
}

.footer_links {
	gap: 17px;
	display: flex;
	padding-left: 0;
	list-style: none;
}

.footer_link-item {}

.footer_link {}